# ─────────────────────────────────────────
# APP
# ─────────────────────────────────────────
APP_NAME="Mini E-Commerce Builder"
APP_ENV=development
APP_URL=http://localhost
TZ=Asia/Jakarta

# ─────────────────────────────────────────
# DATABASE
# ─────────────────────────────────────────
DB_HOST=db               
DB_PORT=3306
DB_NAME=ecommerce_builder
DB_USER=ecommerce_user
DB_PASSWORD=
DB_ROOT_PASSWORD=

# ─────────────────────────────────────────
# UPLOAD
# ─────────────────────────────────────────
MAX_FILE_SIZE=2097152    # 2MB dalam bytes
